::-webkit-scrollbar {
    display: none;
}
html{
    scroll-behavior: smooth;
}
#capa0 {
    background: url(./img/fondo1.gif) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    padding-top: 3rem;
}
#sector0 {
    padding: 3rem;
    
    margin-top: 3rem;
    width: fit-content;
    height: auto;
    margin-top: 4rem;
    margin-top: calc(50vh - 150px);
    
}
#capa1 {
    padding-top: 5rem;
    padding-bottom: 2rem;
    height: 100vh;
    background: url(/img/fondo21.jpg) no-repeat center center fixed;
    background-size: cover;
}
.card {
    width: 25rem;
    position: relative;
    cursor: pointer;
    transform: scale(0.9);
    
}
.card:hover { 
    transform: scale(1.1);

    -webkit-box-shadow: 3px 3px 5px 2px #9E9E9E;
    box-shadow: 3px 3px 5px 2px #9E9E9E;

-webkit-transition: all 500ms ease-in-out;
-moz-transition: all 500ms ease-in-out;
-ms-transition: all 500ms ease-in-out;
-o-transition: all 500ms ease-in-out;
transition: all 500ms ease-in-out;
}
.card-img {
    height: 18rem;
    
}
#capa1 .container{
    width: fit-content;
    padding: 1rem;
}

#capa2 {
    background: url(/img/fondo6.jpg) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    padding-top: 5rem;
    padding-bottom: 2rem ;
}

#capa2 .container{
    width: fit-content;
    padding: 1rem;


}
#capa3{
    background: url(img/imagen9.jpg) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 2rem ;

}

#capa3:hover .slider-left {
    left: 0;
}

#capa3:hover form{
    left: 0;
}
form:hover .slider-left {
    left: 0;

}

form{
    width: 32rem;
    margin-top: 1rem;
}
  
input, textarea{
    background: none !important;
    border-width:0px !important;
border:none !important;
border-bottom: 1px solid rgb(92, 91, 91) !important;
color: white !important;

}
input::placeholder {
    color: rgb(179, 179, 179)!important ;
    }
textarea::placeholder{
    color: rgb(179, 179, 179) !important;
}
input {border:0;outline:0;}
input:focus {outline:none!important;}

.slider-left {
    padding-top: 10rem;
    padding-left: 3rem;
    width: 38rem;
    height: 100vh;
    position: relative;
    top: -15rem;
    left: -38rem;
    background: rgb(54,53,53);
    background: linear-gradient(0deg, rgba(54,53,53,1) 45%, rgb(86, 227, 255) 100%);
    
    -webkit-transition: all 500ms 0.5s  ease;
    -moz-transition: all 500ms 0.5s   ease;
    -ms-transition: all 500ms 0.5s   ease;
    -o-transition: all 500ms 0.5s    ease;
    transition: all 500ms 0.5s   ease;
}
.slider-left * {
    position: static;
    left: 500px;
}
#capa4{
    background: url(img/fondo\ 4.jpg) no-repeat center center fixed;
    height: 100vh;
    background-size: cover;
    padding-top: 15rem;
    padding-bottom: 2rem ;

}
a.circulo:hover {
    color: white;
    transform: scale(1.1);
    filter: brightness(110%);
}
.circulo{
    width: 4rem;
    height: 4rem;
    border-radius: 4rem;
    border: 0px solid red;
    padding: 0.5rem;
    font-size: 1.8rem;
    text-align: center;
    margin: 0 1rem;
    text-decoration: none;
    color: white;
    -webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-ms-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;
}
.facebook{
    background: #3b5998;
}
.twitter{
    background: #55acee;
}
.whatsapp{
    background: #00bb2d;
    }
.instagram {
     background: #125688 ;
}
.youtube {
    background: #bb0000;
}
.redes{
    border: solid red 0px;
    width: fit-content;
    margin-top: 3rem;
}
#Luis{
    padding: 3rem;
    
    width: fit-content;
    height: auto;
    margin-top: 4rem;

}
.navbar{
    border: solid red 0px;
    position: fixed;
    width: 100vw;
    top: 0;
    z-index: 1000;
}
.barra-progreso{
    border: none;
    padding: 0;
    margin: 0;
    top: 3.45rem;
}
.progreso{
   
    padding: 0;
    margin: 0;
    width: 25vw;
    height: 0.5rem;
}
h5{
    text-shadow: 1px 1px 3px;
}
h1{
    text-shadow: 1px 1px 3px;
}
h2{
    text-shadow: 1px 1px 3px;
}
.form-group{
    margin-top: 0.5rem;
}

.efecto{
    position: relative;
    filter: opacity(0%);
    -webkit-transition: all 500ms ease-out;
    -moz-transition: all 500ms ease-out;
    -ms-transition: all 500ms ease-out;
    -o-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
}

.e-derecha{
right: -100px;
}
.e-izquierda{
left: -100px;
}

.e-abajo{
    bottom:-100px ;
}
.e-arriba{
    top: -100px;
}

.d0{
-webkit-transition: all 400ms ease-out;
-moz-transition: all 400ms ease-out;
-ms-transition: all 400ms ease-out;
-o-transition: all 400ms ease-out;
transition: all 400ms ease-out;
}

.d1{
-webkit-transition: all 400ms ease-out 200ms;
-moz-transition: all 400ms ease-out 200ms;
-ms-transition: all 400ms ease-out 200ms;
-o-transition: all 400ms ease-out 200ms;
transition: all 400ms ease-out 200ms;
}
.d2{
    -webkit-transition: all 400ms ease-out 400ms;
    -moz-transition: all 400ms ease-out 400ms;
    -ms-transition: all 400ms ease-out 400ms;
    -o-transition: all 400ms ease-out 400ms;
    transition: all 400ms ease-out 400ms;
}
    
.d3{
 -webkit-transition: all 400ms ease-out 600ms;
-moz-transition: all 400ms ease-out 600ms;
-ms-transition: all 400ms ease-out 600ms;
-o-transition: all 400ms ease-out 600ms;
transition: all 400ms ease-out 600ms;
 }

.d4{
    -webkit-transition: all 400ms ease-out 800ms;
    -moz-transition: all 400ms ease-out 800ms;
    -ms-transition: all 400ms ease-out 800ms;
    -o-transition: all 400ms ease-out 800ms;
    transition: all 400ms ease-out 800ms;
    }
